@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');

:root{
  --main-color:#1b745e;
  --light-green:#d8e3d5;
  --hover-color:#c4d5c0; 
}

h1{
  font-size: clamp(1.5625rem, 1.2045rem + 1.9091vw, 2.875rem) !important;
}

h2{
  font-size: clamp(1.5625rem, 1.2045rem + 1.9091vw, 2.875rem);
}

body{
  font-family: 'Quicksand', sans-serif;
}